
@{
    ViewBag.Title = "AddUserToRole";
}

    <div class="section-heading dark text-center">
        <span></span>
        <h4>Add a user to a role</h4>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-7">
                <img src="~/img/roles.png" alt="" />
            </div>
            <div class="col-3"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-2"></div>
            <div class="col-7">
                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        @Html.Label("Roles")
                        @Html.DropDownList("role", ViewData["Roles"] as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Users")
                        @Html.DropDownList("userId", ViewData["Users"] as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    </div>
                    <button type="submit" class="btn btn-success form-control">Save</button>
                }
            </div>
            <div class="col-3"></div>
        </div>
    </div>
