@model GuideMe.ViewModels.RecomendationVM
   @using GuideMe.Models.Business_models
@{
    ViewBag.Title = "RecomendPlaces";
}

<br />
<br />
<br />
<br />
<br />
<br />

<h2>RecomendPlaces</h2>

@{
    <h3>Hotels</h3>
    for (int Day = 1; Day <= ViewBag.Day; Day++)
    {
        <div>
            <h5>Day @Day : @Model.GetRandomHotel(ViewBag.CityID, ViewBag.Day, ViewBag.Budget).Name</h5>
        </div>
    }
    <br />
    <br />
    <br />
    <br />
    <h3>Resturants</h3>


    List<Place> rest = Model.GetRandomResturants(ViewBag.CityID, ViewBag.Day, ViewBag.Budget);
    if (ViewBag.Day > rest.Count)
    {
        for (int i = rest.Count , j=0; i < ViewBag.Day; i++,j++)
        {
            rest.Add(rest[j]);
        }
    }


    for (int Day = 0; Day < ViewBag.Day; Day++)
    {
        <div>
            <h5>Day @Html.Label((Day+1).ToString()) : @rest[Day].Name  with average price of @Model.GetPrice(rest[Day].ID).price </h5>
        </div>
    }
}