@model GuideMe.Models.Business_models.City
@{
    ViewBag.Title = "Delete";
}
<section style="background-image:url(https://0i.is/A94Z);background-size:cover">
    <h2 style="text-align:center">Delete</h2>


    @using (Html.BeginForm("delete","cities",FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <h4 style="text-align:center">City</h4>
        <hr />
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="explore-search-form">
                    <!-- Tabs Content -->
                    <h2>Delete</h2>

                    <h3>Are you sure you want to delete this?</h3>
                    <div>
                        
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>

                        </dl>

                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-default" /> |
                                @Html.ActionLink("Back to List", "Index",null,new { @class  = "btn btn-danger"})
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
                        }
                    <br />
    </section>






