@model IEnumerable<GuideMe.Models.Business_models.City>

@{
    ViewBag.Title = "Index";
}

    <body >    
        <section class="dorne-listing-destinations-area section-padding-100-50" style="background-image: url(https://0i.is/lRz1); background-size: cover; background-repeat: no-repeat">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading dark text-center">
                            <span></span>
                            <h4>Cities</h4>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        @foreach (var item in Model)
                        {

                            <!-- Single Features Area -->
                            <div class="col-4 col-sm-6 col-lg-4">

                                <div class="single-features-area mb-50">

                                    <img src="~/img/bg-img/feature-1.jpg" alt="">
                                    <!-- Price -->
                                    <div class="price-start">
                                        <p>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </p>
                                    </div>
                                    <div class="feature-content d-flex align-items-center justify-content-between">
                                        <div class="feature-title">
                                            <h5>@Html.DisplayFor(modelItem => item.Name)</h5>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        }
                    </div>
                </div>

            </div>

        </section>
    </body>
