@model IEnumerable<GuideMe.Models.Business_models.Place>


@{double delay = 0.2; }





    <div class="col-12">
        <div class="features-slides owl-carousel">

            @foreach (var place in Model.Take(3))
            {
                <!-- Single Features Area -->
                <div class="single-features-area">
                    <img src="~/img/uploads/@place.Image" alt=""/>
                    <!-- Price -->
                    <div class="price-start">
                        <p>FROM $59/night</p>
                    </div>
                    <div class="feature-content d-flex align-items-center justify-content-between wow fadeInUp">
                        <div class="feature-title">
                            <h5>@place.Name</h5>
                            <p>@place.Address</p>
                        </div>
                        <div class="feature-favourite">
                            <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                delay = delay + 0.2;
            }

        </div>
    </div>

    



