@model IEnumerable<GuideMe.Models.Business_models.City>

@{double delay = 0.2; }

@foreach (var city in Model.Take(4))
{
    <div class="col-12 col-lg-6">
        <div class="single-editors-pick-area wow fadeInUp" data-wow-delay=@delay>
            <img src="~/img/uploads/@city.Image" />
            <div class="editors-pick-info">
                <div class="places-total-destinations d-flex">
                    <a href="#">@city.Name</a>
                    <a href="#">@city.Places.Count beautiful places</a>
                </div>
            </div>
        </div>
    </div>

    delay = delay + 0.2;
    
}
